/**
 * global
 */
 .main {
   margin: 10px 20px;
   padding: 1.25rem 1rem;
 }
 .mt_4 {
  margin-top: 2em;
 }
.uList {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.singleList {
  margin: .5em;
  padding-bottom: .2em;
  border-bottom: 1px solid #1ca086;
  font-size: 18px;
}
.singleListWithBr {
  border-top: 5px solid tomato;
  padding-top: 5px;
}

.pageHeader {
  margin-bottom: 1.5em;
  border-bottom: 2px solid tomato;
  text-align: center;
  padding-bottom: .5em;
}
.pageHeader_top {
  margin-top: 40px;
}

.responsiveTable {
  display: block;
    width: 100%;
    overflow-x: auto;
}


/**
 * Home
 */
.home_link {
  color: teal;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  display: block;
  transition: all .3s;
}
.home_link:hover {
  color: tomato;
}
.paoImage {
  width: 200px;
}

