.unList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.singleList {
  margin: .5em;
  padding-bottom: .2em;
  border-bottom: 1px solid #1ca086;
  font-size: 18px;
}

.pageHeader {
  margin-bottom: 1.5em;
  border-bottom: 2px solid tomato;
  text-align: center;
  padding-bottom: .5em;
}